<h2>Product Registration</h2>
<div>
  <form #registrationForm="ngForm" (ngSubmit)="checkUser(registrationForm)">

    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" id="name" ngModel name="name" #name="ngModel" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors.required">name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="text" id="description" ngModel name="description" #description="ngModel" class="form-control" required>
      <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
        <div *ngIf="description.errors.required">description  is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="imagePath">Image Path</label>
      <input type="text" id="imagePath" ngModel name="imagePath" #imagePath="ngModel" class="form-control" required>
      <div class="alert alert-danger" *ngIf="imagePath.touched && !imagePath.valid">
        <div *ngIf="imagePath.errors.required">imagePath is required.</div>
      </div>
    </div>
        <div class="form-group">
      <label for="modelName">Model Name</label>
      <input type="text" id="modelName" ngModel name="modelName" #modelName="ngModel" class="form-control" required>
      <div class="alert alert-danger" *ngIf="modelName.touched && !modelName.valid">
        <div *ngIf="modelName.errors.required">modelName is required.</div>
      </div>
    </div>

        <div class="form-group">
      <label for="category">Category</label>
      <input type="text" id="category" ngModel name="category" #category="ngModel" class="form-control" required>
      <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
        <div *ngIf="category.errors.required">category is required.</div>
      </div>
    </div>

   

    <button class="btn btn-primary" type="submit" [class.disabled]="!registrationForm.valid">Add Product</button>

  </form> 
</div>
